<template>
  <router-link to="/users">users</router-link>
  <router-link to="/rights">rights</router-link>
  <router-link to="/roles">roles</router-link>
  <router-view></router-view>
</template>

<script>
import { onMounted, inject } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import addRoutes from "../router/addRoutes";
export default {
  setup() {
    // const store = useStore();
    // onMounted(async () => {
    //   await store.dispatch("getMenus");
    //   addRoutes();
    // });
  },
};
</script>
<style></style>
