<template>
  <div class="login">
    <el-card class="box-card">
      <template #header>
        <div class="card-header">
          <span>欢迎登陆</span>
        </div>
      </template>
      <el-form ref="formRef" :model="form" label-width="120px">
        <el-form-item label="用户名">
          <el-input v-model="form.username"></el-input>
        </el-form-item>
        <el-form-item label="密码">
          <el-input type="password" v-model="form.password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="login">登录</el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { reactive, inject } from "vue";
import { ElMessage } from "element-plus";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import addRoutes from "../router/addRoutes";
export default {
  components: {
    ElMessage,
  },
  setup() {
    const form = reactive({
      username: "",
      password: "",
    });
    const store = useStore();
    const router = useRouter();
    const http = inject("http");
    const login = async () => {
      const res = await http.post("login", form);
      ElMessage.success(res.data.meta.msg);
      store.commit("SET_TOKEN", res.data.data.token);
      store.commit("SET_USERNAME", res.data.data.username);
      router.push({
        name: "Home",
      });
    };
    return {
      form,
      login,
    };
  },
};
</script>
<style>
.login {
  background-color: darkslateblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
