<template>
  <div>Roles</div>
</template>

<script>
import { useRouter } from "vue-router";
export default {
  setup() {
    const router = useRouter();
    console.log(router.getRoutes());
  },
};
</script>
<style></style>
